# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# .env.example

# Config Adafruit
NEXT_PUBLIC_ADAFRUIT_USERNAME=<YOUR_ADAFRUIT_USERNAME>
NEXT_PUBLIC_ADAFRUIT_KEY=<YOUR_ADAFRUIT_KEY>

# Config database
MONGODB_USER_URI=<YOUR_MONGODB_USER_URI>
MONGODB_CONTACT_URI=<YOUR_MONGODB_CONTACT_URI>

# Config email
EMAIL_USER=<YOUR_EMAIL_USER>
EMAIL_APP_PASSWORD=<YOUR_EMAIL_APP_PASSWORD>

# Secrets
NEXTAUTH_SECRET=<YOUR_NEXTAUTH_SECRET>
JWT_SECRET=<YOUR_JWT_SECRET>
